@import "./variables";
.menu{
    position: absolute;
    display: grid;
    grid-template-rows: 15% 40% 15% 15%;
    gap: 5%;
    transition: left 600ms;
    width: 100%;
    height: 100%;
    &-header{
        text-align: center;
        font-size: 48px;
        h1{
            margin: 0;
        }
    }
    &-select{
        background-color: $main;
        display: grid;
        grid-template-rows: 30% 40% 30%;
        border-radius: 15px;
        box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.541);
        &-text{
            height: 100%;
            display: grid;
            place-items: center;
            h3{
                color: $text;
            }
        }
        section{
            margin: 0 10%;
            background-color: $second;
            border-radius: 15px;
            position: relative;
            display: flex;
            align-items: center;
            .selected{
                background-color: white;
                mix-blend-mode: difference;
                border-radius: 15px;
                position: absolute;
                height: 85%;
                width: 48%;
                margin: 0 2%;
                cursor: pointer;
                transition: left 200ms ease-in;
            }
            .options{
                width: 100%;
                height: 100%;
                overflow: hidden;
                display: grid;
                grid-template-columns: 1fr 1fr;
                user-select: none;
                &-buttons{
                    cursor: pointer;
                    display: grid;
                    place-items: center;
                    p{
                        color: $text;
                        user-select: none;
                        font-size: 3rem;
                        margin: 1vh 0 0;
                    }
                }
            }
        }
    }
    &-button{
        border-radius: 15px;
        box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.541);
        display: grid;
        place-items: center;
        cursor: pointer;
        user-select: none;
        font-size: 25px;
        &-up{
            background-color: $circle;
            &:active{
                background-color: darken($circle, 10%);
            }
        }
        &-down{
            background-color: $cross;
            &:active{
                background-color: darken($cross, 10%);
            }
        }
    }
}
.cross{
    color: $cross;
}
.circle{
    color: $circle;
}