@import "./menu";
@import "./game";
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
*{
    font-family: 'Nunito', sans-serif;
}
h3, h4, h2{
    margin: 0;
}
.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

body{
    background-color: rgb(26,43,51);
    margin: 0;
    width: 100%;
    display: flex;
}

.zone{
    position: relative;
}
@media screen and (min-width: 1024px) {
    .zone{
        width: 35vw;
        height: 80vh;
    }
}
@media screen and (min-width: 768px) and (max-width: 1023px) and (min-height: 500px) {
    .zone{
        width: 60vw;
        height: 80vh;
    }
}
@media screen and (min-width: 768px) and (max-width: 1023px) and (max-height: 500px) {
    .zone{
        width: 60vw;
        height: 95vh;
    }
}
@media screen and (max-width: 767px) {
    .zone{
        width: 90vw;
        height: 70vh;
    }
}