@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
.game {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 200%;
  transition: 600ms left;
  display: grid;
  grid-template-rows: auto 70% 10%;
  gap: 5%;
  text-align: center;
}
.game article {
  display: grid;
  grid-template-columns: 31% auto 31%;
  gap: 4%;
}
.game-header svg {
  font-size: 24px;
}
.game-header-icons {
  display: flex;
  align-items: end;
}
.game-header-turn {
  background-color: rgb(31, 53, 64);
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: rgb(229, 212, 204);
  box-shadow: 3px 6px 7px rgba(0, 0, 0, 0.541);
}
.game-header-return {
  display: flex;
  align-items: end;
  justify-content: end;
}
.game-header-return svg {
  height: 100%;
  width: 20%;
  padding: 0 10%;
  border-radius: 10px;
  background-color: rgb(229, 212, 204);
  box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.541);
  cursor: pointer;
}
.game-board section {
  display: grid;
  place-items: center;
  border-radius: 15px;
  box-shadow: 3px 6px 7px rgba(0, 0, 0, 0.541);
  font-size: 300%;
}
.game-footer section {
  border-radius: 10px;
  box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.541);
  display: grid;
  place-items: center;
}
.game-footer-circle {
  background-color: rgb(242, 178, 55);
}
.game-footer-ties {
  background-color: rgb(229, 212, 204);
}
.game-footer-cross {
  background-color: rgb(49, 196, 190);
}

.banner {
  visibility: hidden;
  position: absolute;
}
.banner-show {
  position: absolute;
  background-color: rgb(31, 53, 64);
  width: 100vw;
  height: 40vh;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.banner-show h3 {
  text-align: center;
  color: rgb(229, 212, 204);
}
.banner-show div {
  display: flex;
  gap: 5%;
}
.banner-show div button {
  border: none;
  font-size: 120%;
  width: 50%;
  height: 160%;
  border-radius: 10px;
  box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.541);
}
.banner-show div .button-circle {
  background-color: rgb(242, 178, 55);
}
.banner-show div .button-cross {
  background-color: rgb(49, 196, 190);
}
@media screen and (min-width: 1024px) {
  .banner-show div {
    width: 30vw;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) and (min-height: 500px) {
  .banner-show div {
    width: 60vw;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) and (max-height: 500px) {
  .banner-show div {
    width: 90vw;
  }
}
@media screen and (max-width: 767px) {
  .banner-show div {
    width: 90vw;
  }
}
.banner-piece svg {
  font-size: 200%;
}
.banner-draw {
  color: rgb(242, 178, 55);
}
.banner-up {
  position: relative;
  bottom: 30%;
}

.board-cross {
  color: rgb(49, 196, 190);
  background-color: rgb(31, 53, 64);
  transition: color 200ms, background-color 500ms;
}
.board-cross-win {
  background-color: rgb(49, 196, 190);
  color: rgb(31, 53, 64);
  transition: color 500ms, background-color 500ms;
}

.board-circle {
  color: rgb(242, 178, 55);
  background-color: rgb(31, 53, 64);
  transition: color 200ms, background-color 500ms;
}
.board-circle-win {
  background-color: rgb(242, 178, 55);
  color: rgb(31, 53, 64);
  transition: color 500ms, background-color 500ms;
}

.board-space {
  background-color: rgb(31, 53, 64);
  color: rgba(0, 0, 0, 0);
}

.menu {
  position: absolute;
  display: grid;
  grid-template-rows: 15% 40% 15% 15%;
  gap: 5%;
  transition: left 600ms;
  width: 100%;
  height: 100%;
}
.menu-header {
  text-align: center;
  font-size: 48px;
}
.menu-header h1 {
  margin: 0;
}
.menu-select {
  background-color: rgb(31, 53, 64);
  display: grid;
  grid-template-rows: 30% 40% 30%;
  border-radius: 15px;
  box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.541);
}
.menu-select-text {
  height: 100%;
  display: grid;
  place-items: center;
}
.menu-select-text h3 {
  color: rgb(229, 212, 204);
}
.menu-select section {
  margin: 0 10%;
  background-color: rgb(26, 43, 51);
  border-radius: 15px;
  position: relative;
  display: flex;
  align-items: center;
}
.menu-select section .selected {
  background-color: white;
  mix-blend-mode: difference;
  border-radius: 15px;
  position: absolute;
  height: 85%;
  width: 48%;
  margin: 0 2%;
  cursor: pointer;
  transition: left 200ms ease-in;
}
.menu-select section .options {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr;
  user-select: none;
}
.menu-select section .options-buttons {
  cursor: pointer;
  display: grid;
  place-items: center;
}
.menu-select section .options-buttons p {
  color: rgb(229, 212, 204);
  user-select: none;
  font-size: 3rem;
  margin: 1vh 0 0;
}
.menu-button {
  border-radius: 15px;
  box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.541);
  display: grid;
  place-items: center;
  cursor: pointer;
  user-select: none;
  font-size: 25px;
}
.menu-button-up {
  background-color: rgb(242, 178, 55);
}
.menu-button-up:active {
  background-color: #e79d0f;
}
.menu-button-down {
  background-color: rgb(49, 196, 190);
}
.menu-button-down:active {
  background-color: #279b96;
}

.cross {
  color: rgb(49, 196, 190);
}

.circle {
  color: rgb(242, 178, 55);
}

* {
  font-family: "Nunito", sans-serif;
}

h3, h4, h2 {
  margin: 0;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

body {
  background-color: rgb(26, 43, 51);
  margin: 0;
  width: 100%;
  display: flex;
}

.zone {
  position: relative;
}

@media screen and (min-width: 1024px) {
  .zone {
    width: 35vw;
    height: 80vh;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) and (min-height: 500px) {
  .zone {
    width: 60vw;
    height: 80vh;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) and (max-height: 500px) {
  .zone {
    width: 60vw;
    height: 95vh;
  }
}
@media screen and (max-width: 767px) {
  .zone {
    width: 90vw;
    height: 70vh;
  }
}

/*# sourceMappingURL=style.css.map */
